%h1 Log In
= flash.alert
= form_for @user, url: sessions_path do |f|
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'

  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'

  .form-group
    = label_tag 'user[remember_me]' do
      = check_box_tag 'user[remember_me]', true, false
      Remember me

  = f.submit 'Log In', class: 'btn btn-default'
