%h1 New Injection
= form_for :sql_injection_object, url: sql_injection_objects_path do |f|
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :text
    %br/
    = f.text_area :text
  %p
    = f.submit
